.table-input {
  width: 200px;
}

.table-select {
  width: 93px;
}

.table-select-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-filter-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.table-filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Apply style to both table head and datas */
.table-row-header,
.table-row-item {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
}

.table-row-header {
  margin-top: 10px;
  background: #f1f5f9;
  font-size: 12px;
  color: #64748b;
  font-weight: 600;
}

.tabel-single-header {
  cursor: pointer;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

html.dark .tabel-single-header:hover {
  background: #f9f2fd20;
}

.tabel-single-header:hover {
  background: #f9f2fd;
}

html.dark .table-row-header {
  background: #6a6676;
  color: #fff;
}

.table-row-item {
  font-weight: 400;
  font-size: 13px;
}

.table-pagination {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
}

html.dark .table-pagination-button {
  color: #8576ff;
  border-width: 0px;
  border-color: #8676ff30;
  background: #484554;
  font-size: large;
}

.table-data-container {
  height: 600px;
}

html.dark .table-data-container {
  background: #484554;
}
.no-data-table {
  text-align: center;
  font-size: x-large;
  font-weight: 700;
  margin-top: 140px;
}

@media (max-width: 1240px) {
  .table-filter-wrapper {
    align-items: unset;
    flex-direction: column;
    gap: 18px;
  }
  .table-filter-container {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .table-input {
    width: auto;
  }
}
