.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 11px;
  margin-top: 20px;
}

.home-card-container {
  height: 88px;
  padding: 16px;
  border: 1px solid #f2f2f7;
  min-width: 160px;
  width: 100%;
  border-radius: 2px;
}

@media (max-width: 1024px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (max-width: 670px) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }
}
